<div class="container">
  <h1>Theme Customizer</h1>

  <ng-container *ngIf="themeConfig$ | async as themeConfig">
    <div>
      <h4>Step 1: Choose your background</h4>
      <mat-button-toggle-group (click)="$event.stopPropagation()"
                               (change)="setUiTheme($event)"
                               [value]="themeConfig.uiTheme"
                               class="w-100">
        <mat-button-toggle value="light" class="w-50">Light
        </mat-button-toggle>
        <mat-button-toggle value="dark" class="w-50">Dark</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div>
      <h4>Step 2: Choose your Theme Colors</h4>
      <h6 class="text-muted">Click to change color *</h6>

      <div class="d-flex justify-content-center d-none">
        <input #primaryInput
               type="color"
               [value]="themeConfig.primary"
               (change)="setPrimary($event)"/>
        <input #accentInput
               type="color"
               [value]="themeConfig.accent"
               (change)="setAccent($event)"/>
        <input #warnInput
               [value]="themeConfig.warn"
               type="color"
               (change)="setWarn($event)"/>
      </div>
      <div class="d-flex flex-wrap">
        <button mat-button
                (click)="primaryInput.click()"
                class="theme-btn primary-btn">
          Primary: {{themeConfig.primary}}
        </button>
        <button mat-button
                (click)="accentInput.click()"
                class="theme-btn accent-btn">
          Accent: {{themeConfig.accent}}
        </button>
        <button mat-button
                (click)="warnInput.click()"
                class="theme-btn warn-btn">
          Warn: {{themeConfig.warn}}
        </button>
      </div>
    </div>

  </ng-container>
</div>
