.theme-btn {
  padding: 3rem;
  min-width: 300px;
  flex: 1 1 auto;
}

.primary-btn {
  background: var(--theme-primary-500);
  color: var(--theme-primary-contrast-500);
}

.accent-btn {
  background: var(--theme-accent-500);
  color: var(--theme-accent-contrast-500);
}

.warn-btn {
  background: var(--theme-warn-500);
  color: var(--theme-warn-contrast-500);
}
