.theme-btn {
  padding: 3rem;
  min-width: 300px;
  flex: 1 1 auto;
}

.primary-btn {
  background: var(--primary-500);
  color: var(--primary-contrast-500);
}

.accent-btn {
  background: var(--accent-500);
  color: var(--accent-contrast-500);
}

.warn-btn {
  background: var(--warn-500);
  color: var(--warn-contrast-500);
}
