<!--<table cdk-table [dataSource]="dataSource" class="mat-elevation-z8">-->

<!--  &lt;!&ndash;- Note that these columns can be defined in any order.-->
<!--        The actual rendered columns are set as a property on the row definition" &ndash;&gt;-->

<!--  &lt;!&ndash; Position Column &ndash;&gt;-->
<!--  <ng-container cdkColumnDef="position">-->
<!--    <th cdk-header-cell *cdkHeaderCellDef> No. </th>-->
<!--    <td cdk-cell *cdkCellDef="let element"> {{element.position}} </td>-->
<!--  </ng-container>-->

<!--  &lt;!&ndash; Name Column &ndash;&gt;-->
<!--  <ng-container cdkColumnDef="name">-->
<!--    <th cdk-header-cell *cdkHeaderCellDef> Name </th>-->
<!--    <td cdk-cell *cdkCellDef="let element"> {{element.name}} </td>-->
<!--  </ng-container>-->

<!--  &lt;!&ndash; Weight Column &ndash;&gt;-->
<!--  <ng-container cdkColumnDef="weight">-->
<!--    <th cdk-header-cell *cdkHeaderCellDef> Weight </th>-->
<!--    <td cdk-cell *cdkCellDef="let element"> {{element.weight}} </td>-->
<!--  </ng-container>-->

<!--  &lt;!&ndash; Symbol Column &ndash;&gt;-->
<!--  <ng-container cdkColumnDef="symbol">-->
<!--    <th cdk-header-cell *cdkHeaderCellDef> Symbol </th>-->
<!--    <td cdk-cell *cdkCellDef="let element"> {{element.symbol}} </td>-->
<!--  </ng-container>-->

<!--  <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>-->
<!--  <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr>-->
<!--</table>-->
