
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoints: ('sm': $breakpoint-sm, 'md': $breakpoint-md, 'lg': $breakpoint-lg, 'xl': $breakpoint-xl);

$spacing: ('auto': auto, '1': .5rem, '2': 1rem, '3': 1.5rem, '4': 2rem, '5': 3rem);
$displays: 'none', 'block', 'flex';

@each $name, $value in $spacing {

}
