<app-portfolio-header (toggleSidenav)="sidenav.toggle()"></app-portfolio-header>
<mat-sidenav-container>
  <mat-sidenav #sidenav
               [opened]="(isLargeScreen$ | async)"
               [mode]="(isLargeScreen$ | async) ? 'side' : 'over'"
               [fixedInViewport]="(isLargeScreen$ | async) === false"
               [fixedTopGap]="(isMediumScreen$ | async) ? 56 : 92">
    <app-portfolio-nav (closeSidenav)="sidenav.close()"></app-portfolio-nav>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
