@import '~@angular/material/theming';
@import "mixins/table-mixin";


// Styles for the docs app that are based on the current theme.
@mixin my-portfolio-app-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  // include other mixins here
  @include table($theme);
}
