<app-top-nav></app-top-nav>

<mat-sidenav-container>
  <mat-sidenav #sidenav
               [opened]="(isScreenSmall$ | async) === false"
               [mode]="(isScreenSmall$ | async) ? 'over' : 'side'"
               [fixedInViewport]="(isScreenSmall$ | async)"
               [fixedTopGap]="(isExtraScreenSmall$ | async) ? 92 : 56">
    <app-portal-sidenav></app-portal-sidenav>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
