app-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  router-outlet + * {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  mat-sidenav-container {
    flex: 1;
  }
}
