<app-top-nav></app-top-nav>

<mat-sidenav-container>
  <mat-sidenav #sidenav class="docs-component-viewer-sidenav"
               [ngClass]="(panelClassName$ | async) || ''"
               [opened]="(isScreenSmall$ | async) === false && (panelPortal$ | async) != null"
               [mode]="(isScreenSmall$ | async) ? 'over' : 'side'"
               [fixedInViewport]="(isScreenSmall$ | async)"
               [fixedTopGap]="(isExtraScreenSmall$ | async) ? 92 : 56">
    <ng-template [cdkPortalOutlet]="panelPortal$ | async"></ng-template>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
