<mat-toolbar>
  <mat-toolbar-row>
    <a mat-button color="primary"
       class="icon-2x"
       routerLink="/">
      <mat-icon inline>desktop_mac</mat-icon>
    </a>

    <a *ngFor="let i of navItems$ | async"
       mat-button
       [color]="i.btnColor"
       class="d-none d-lg-block"
       [ngClass]="i.classListLg"
       [routerLink]="i.link">
      {{i.label}}
    </a>

    <button mat-button
            (click)="toggleExpandedState()"
            class="d-lg-none ml-auto icon-2x">
      <mat-icon inline>menu</mat-icon>
    </button>
  </mat-toolbar-row>
  <mat-toolbar-row *ngIf="isExpanded$ | async"
                   class="flex-column p-2 d-lg-none"
                   style="height: max-content;">
    <a *ngFor="let i of navItems$ | async"
       mat-button
       [color]="i.btnColor"
       [ngClass]="i.classListSm"
       [routerLink]="i.link">
      {{i.label}}
    </a>
  </mat-toolbar-row>
</mat-toolbar>
