<mat-toolbar>
  <mat-toolbar-row>
    <a mat-button color="primary"
       class="me-auto fs-1"
       routerLink="/">
      <mat-icon inline>desktop_mac</mat-icon>
    </a>

    <a *ngFor="let i of navItems$ | async"
       mat-button
       [color]="i.btnColor"
       class="d-none d-lg-block"
       [ngClass]="i.classList"
       [routerLink]="i.link">
      {{i.label}}
    </a>

    <button mat-button class="ms-auto"
            [matMenuTriggerFor]="menu">
      Theme
    </button>
    <mat-menu #menu="matMenu">
      <button *ngFor="let theme of themePresets" mat-menu-item
              (click)="setThemeToPresetOption(theme)">{{theme.label}}</button>
      <a mat-menu-item routerLink="/theme">Customize</a>
    </mat-menu>

    <button mat-button
            (click)="toggleExpandedState()"
            class="d-lg-none fs-1">
      <mat-icon inline>{{(isExpanded$ | async) ? 'close' : 'menu'}}</mat-icon>
    </button>
  </mat-toolbar-row>
  <mat-toolbar-row *ngIf="isExpanded$ | async"
                   class="flex-column p-2 d-lg-none"
                   style="height: max-content;"
                   [@expandOnRender]>
    <a *ngFor="let i of navItems$ | async"
       mat-button
       (click)="close()"
       [color]="i.btnColor"
       [ngClass]="i.classList"
       [routerLink]="i.link">
      {{i.label}}
    </a>
  </mat-toolbar-row>
</mat-toolbar>
