@import '~@angular/material/theming';
@import '../../bootstrap/bootstrap-properties';

///////////////// ANGULAR MATERIAL VARIABLES //////////////////
$my-portfolio-primary: mat-palette($mat-indigo);
$my-portfolio-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$my-portfolio-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$theme: mat-light-theme((
  color: (
    primary: $my-portfolio-primary,
    accent: $my-portfolio-accent,
    warn: $my-portfolio-warn,
  )
));


//////////////////// BOOTSTRAP VARIABLES /////////////////
//$font-family-sans-serif: 'Cabin', sans-serif;
$body-bg: bodyBg($theme);
$body-color: bodyColor($theme);
$theme-colors: themeColors($theme);
$light: bgCard($theme);
//$input-border-color: map-get($theme-colors, "primary");
//$table-accent-bg: map-get($theme-colors, "primary-lighter");
