@import "utility-variables";

.flex-column {
  flex-direction: column !important;
}

@each $a in $align {
  .justify-content-#{$a} {
    justify-content: #{$a} !important;
  }
}

@each $a in $align {
  .align-items-#{$a} {
    align-items: #{$a} !important;
  }

  .align-self-#{$a} {
    align-self: #{$a}!important;
  }
}
