<mat-toolbar color="primary" class="mat-elevation-z6" style="min-height: 56px">
  <mat-toolbar-row style="max-height: 56px">
    <a mat-button
       routerLink="/">
      <mat-icon svgIcon="coding_laptop"></mat-icon>
      Brian Hanna
    </a>

    <a routerLink="/contact" mat-button class="d-none d-md-block">Say Hello</a>
    <a routerLink="/portfolio" mat-button class="d-none d-md-block">Portfolio</a>

    <app-theme-picker class="ms-auto me-2"></app-theme-picker>

    <a mat-button class="d-none d-md-block" href="https://github.com/bhanna1693/my-portfolio" target="_blank">
      <img src="/assets/images/git/GitHub-Mark-Light-32px.png" alt="github">
      GitHub
    </a>
    <a mat-icon-button class="d-md-none" href="https://github.com/bhanna1693/my-portfolio" target="_blank">
      <img src="/assets/images/git/GitHub-Mark-Light-32px.png" alt="github">
    </a>
  </mat-toolbar-row>
  <mat-toolbar-row class="d-md-none" style="max-height: 36px">
    <a routerLink="/contact" mat-button class="flex-grow-1">Say Hello</a>
    <a routerLink="/portfolio" mat-button class="flex-grow-1">Portfolio</a>
  </mat-toolbar-row>
</mat-toolbar>
