<section class="hero text-center">

  <div class="hero-header mt-5">
    <h1>Hello there! I'm Brian</h1>
    <h4>
      A passionate Full Stack Web Developer having experience in building applications with
      Typescript / Angular / Kotlin / Springboot and some other cool libraries and frameworks.
    </h4>
  </div>

  <div class="hero-body"></div>

  <div class="hero-footer">
    <div class="container">
      <img class="img-fluid" src="/assets/images/hero.svg" alt="hero.svg">
    </div>
  </div>
</section>
