@use '~@angular/material' as mat;
//@import 'tailwindcss/base';
//@import 'tailwindcss/components';
//@import 'tailwindcss/utilities';

@import './styles/app-theme';

// Include material core styles.
@include mat.core();


mat-form-field {
  width: 100%;
}

.scroll-flex-fill {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
  min-height: 0;
}

.font {
  font-family: 'europa', sans-serif;
  font-family: 'eurostile', sans-serif;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
