mat-form-field {
  width: 100%;
}

.icon-2x {
  font-size: 2rem;
}

.font {
  font-family: 'europa', sans-serif;
  font-family: 'eurostile', sans-serif;
}

[mat-button].btn-outline-primary {
  border: 2px solid var(--primary-500);
  border-radius: 3rem;
  color: var(--primary-500);
}

[mat-button].btn-outline-primary:hover {
  background: var(--primary-500);
  color: var(--primary-contrast-500);
}

:root {
  --primary-50: null;
  --primary-100: null;
  --primary-200: null;
  --primary-300: null;
  --primary-400: null;
  --primary-500: null;
  --primary-600: null;
  --primary-700: null;
  --primary-800: null;
  --primary-900: null;
  --primary-A100: null;
  --primary-A200: null;
  --primary-A400: null;
  --primary-A700: null;
  --primary-contrast-50: null;
  --primary-contrast-100: null;
  --primary-contrast-200: null;
  --primary-contrast-300: null;
  --primary-contrast-400: null;
  --primary-contrast-500: null;
  --primary-contrast-600: null;
  --primary-contrast-700: null;
  --primary-contrast-800: null;
  --primary-contrast-900: null;
  --primary-contrast-A100: null;
  --primary-contrast-A200: null;
  --primary-contrast-A400: null;
  --primary-contrast-A700: null;

  --accent-50: null;
  --accent-100: null;
  --accent-200: null;
  --accent-300: null;
  --accent-400: null;
  --accent-500: null;
  --accent-600: null;
  --accent-700: null;
  --accent-800: null;
  --accent-900: null;
  --accent-A100: null;
  --accent-A200: null;
  --accent-A400: null;
  --accent-A700: null;
  --accent-contrast-50: null;
  --accent-contrast-100: null;
  --accent-contrast-200: null;
  --accent-contrast-300: null;
  --accent-contrast-400: null;
  --accent-contrast-500: null;
  --accent-contrast-600: null;
  --accent-contrast-700: null;
  --accent-contrast-800: null;
  --accent-contrast-900: null;
  --accent-contrast-A100: null;
  --accent-contrast-A200: null;
  --accent-contrast-A400: null;
  --accent-contrast-A700: null;

  --warn-50: null;
  --warn-100: null;
  --warn-200: null;
  --warn-300: null;
  --warn-400: null;
  --warn-500: null;
  --warn-600: null;
  --warn-700: null;
  --warn-800: null;
  --warn-900: null;
  --warn-A100: null;
  --warn-A200: null;
  --warn-A400: null;
  --warn-A700: null;
  --warn-contrast-50: null;
  --warn-contrast-100: null;
  --warn-contrast-200: null;
  --warn-contrast-300: null;
  --warn-contrast-400: null;
  --warn-contrast-500: null;
  --warn-contrast-600: null;
  --warn-contrast-700: null;
  --warn-contrast-800: null;
  --warn-contrast-900: null;
  --warn-contrast-A100: null;
  --warn-contrast-A200: null;
  --warn-contrast-A400: null;
  --warn-contrast-A700: null;
}
