//@import 'tailwindcss/base';
//@import 'tailwindcss/components';
//@import 'tailwindcss/utilities';

@import './styles/app-theme';

// Include material core styles.
@include mat-core();


mat-form-field {
  width: 100%;
}

.font {
  font-family: 'europa', sans-serif;
  font-family: 'eurostile', sans-serif;
}
