mat-form-field {
  width: 100%;
}

.icon-2x {
  font-size: 2rem;
}

.font {
  font-family: 'europa', sans-serif;
  font-family: 'eurostile', sans-serif;
}

[mat-button].btn-outline-primary {
  border: 2px solid var(--theme-primary-500);
  border-radius: 3rem;
  color: var(--theme-primary-500);
}

[mat-button].btn-outline-primary:hover {
  background: var(--theme-primary-500);
  color: var(--theme-primary-contrast-500);
}

:root {
  --theme-primary-50: null;
  --theme-primary-100: null;
  --theme-primary-200: null;
  --theme-primary-300: null;
  --theme-primary-400: null;
  --theme-primary-500: null;
  --theme-primary-600: null;
  --theme-primary-700: null;
  --theme-primary-800: null;
  --theme-primary-900: null;
  --theme-primary-A100: null;
  --theme-primary-A200: null;
  --theme-primary-A400: null;
  --theme-primary-A700: null;
  --theme-primary-contrast-50: null;
  --theme-primary-contrast-100: null;
  --theme-primary-contrast-200: null;
  --theme-primary-contrast-300: null;
  --theme-primary-contrast-400: null;
  --theme-primary-contrast-500: null;
  --theme-primary-contrast-600: null;
  --theme-primary-contrast-700: null;
  --theme-primary-contrast-800: null;
  --theme-primary-contrast-900: null;
  --theme-primary-contrast-A100: null;
  --theme-primary-contrast-A200: null;
  --theme-primary-contrast-A400: null;
  --theme-primary-contrast-A700: null;

  --theme-accent-50: null;
  --theme-accent-100: null;
  --theme-accent-200: null;
  --theme-accent-300: null;
  --theme-accent-400: null;
  --theme-accent-500: null;
  --theme-accent-600: null;
  --theme-accent-700: null;
  --theme-accent-800: null;
  --theme-accent-900: null;
  --theme-accent-A100: null;
  --theme-accent-A200: null;
  --theme-accent-A400: null;
  --theme-accent-A700: null;
  --theme-accent-contrast-50: null;
  --theme-accent-contrast-100: null;
  --theme-accent-contrast-200: null;
  --theme-accent-contrast-300: null;
  --theme-accent-contrast-400: null;
  --theme-accent-contrast-500: null;
  --theme-accent-contrast-600: null;
  --theme-accent-contrast-700: null;
  --theme-accent-contrast-800: null;
  --theme-accent-contrast-900: null;
  --theme-accent-contrast-A100: null;
  --theme-accent-contrast-A200: null;
  --theme-accent-contrast-A400: null;
  --theme-accent-contrast-A700: null;

  --theme-warn-50: null;
  --theme-warn-100: null;
  --theme-warn-200: null;
  --theme-warn-300: null;
  --theme-warn-400: null;
  --theme-warn-500: null;
  --theme-warn-600: null;
  --theme-warn-700: null;
  --theme-warn-800: null;
  --theme-warn-900: null;
  --theme-warn-A100: null;
  --theme-warn-A200: null;
  --theme-warn-A400: null;
  --theme-warn-A700: null;
  --theme-warn-contrast-50: null;
  --theme-warn-contrast-100: null;
  --theme-warn-contrast-200: null;
  --theme-warn-contrast-300: null;
  --theme-warn-contrast-400: null;
  --theme-warn-contrast-500: null;
  --theme-warn-contrast-600: null;
  --theme-warn-contrast-700: null;
  --theme-warn-contrast-800: null;
  --theme-warn-contrast-900: null;
  --theme-warn-contrast-A100: null;
  --theme-warn-contrast-A200: null;
  --theme-warn-contrast-A400: null;
  --theme-warn-contrast-A700: null;
}
